<div class="bg-neutrals-50 lg:shadow space-y-6 px-6 py-5">
  <div>
    <p class="font-bold text-2xl">About the Location</p>
  </div>

  <div>
    <h2 class="text-lg font-semibold mb-2">Location Type</h2>
    <div>{{ location_type }}</div>
  </div>

  <div>
    <h2 class="text-lg font-semibold">Located at:</h2>
    <div>
      <span class="flex items-center gap-x-2 mb-2">
        <span class="ph ph-[map-pin] text-primary text-2xl"></span>
        <span class="text-neutrals-900 font-bold">{{ parent_location }}</span>
      </span>
    </div>
  </div>

  <div>
    {% if addresses %}
      <h2 class="text-lg font-semibold">Address</h2>
      <ul class="list-none space-y-2 mb-4">
        {% for address in addresses %}
        <li class="font-semibold">{{ address.address }}</li>
        {% endfor %}
      </ul>
    {% endif %}

    {% if directions_url | default %}
      {% include "@atoms/links/read-more/read-more.twig" with directions_url %}
    {% endif %}
  </div>

  <div>
    {% if location_hours %}
    <h2 class="text-lg font-semibold">Location hours:</h2>
    <ul class="list-none space-y-2 mb-4">
      {% for location_hour in location_hours %}
      <li class="font-semibold">{{ location_hour.location_hour }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% if more_info | default %}
      {% include "@atoms/links/read-more/read-more.twig" with more_info %}
    {% endif %}
  </div>

  <div class="text-right">
    {% include '@base/utils/add2any/add2any.twig' with {
      class: 'mb-0'
    } %}
  </div>
</div>
