@media (min-width: 1024px) {
  .grid-template {
    @apply columns-2;
    @apply gap-8;
  }
  .grid-template > div {
    break-inside: avoid-column;
  }
  .sidebar-wrapper, .sidebar-bottom-wrapper {
    width: 50%;
  }
  .hero-wrapper, .content-wrapper {
    width: 150%;
    margin-left: -50%;
  }
  .hero-wrapper {
    break-before: column;
  }
}

@media (max-width: 1023px) {
  .grid-template {
    display: flex;
    flex-direction: column;
  }
  .sidebar-wrapper { order: 2 }
  .sidebar-bottom-wrapper { order: 4 }
  .hero-wrapper { order: 1 }
  .content-wrapper { order: 3 }
}
