{% embed '@organisms/section/section-embed.twig' with {
    section_class: section_class | default,
    section_heading: section_heading | default,
    section_description:  section_description | default,
    section_button: section_button | default,
  }
%}
  {% block section_content %}

    <div class="grid grid-cols-12 gap-5">
      {% for statistic in statistics %}
        <div class="col-span-12 md:col-span-4 {% if section_style | default == 'side' %}lg:col-span-12{% endif %}">
          {% include '@molecules/cards/statistic/statistic.twig' with {
            icon: statistic.icon,
            value: statistic.value,
            caption: statistic.caption,
            description: statistic.description,
            stat_bg: statistic.stat_bg
          }%}
        </div>
      {% endfor %}
    </div>

  {% endblock %}
{% endembed %}
