{% embed '@organisms/section/section-embed.twig' with {
  section_class: "section--hierarchical " ~ section_class | default,
} %}
  {% block section_content %}
    <div class="grid grid-cols-12 gap-6 lg:gap-10">
      <div class="col-span-12">
        {% include "@molecules/cards/card/card-featured.twig" with featured_card only %}
      </div>
      <div class="col-span-12">
        {% include '@components/listing/thumbnail-list/thumbnail-list-horizontal.twig' %}
      </div>
    </div>
  {% endblock %}
{% endembed %}
